# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\webProjects\htdocs\simple-adv-deno\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
